.oh-col {
  display: grid;
  grid-template-columns: minmax(.5rem, 1fr) minmax(auto, 50vw) minmax(.5rem, 1fr);
  padding: 10rem 0;
  border-bottom: 1px solid black;
}

.one-col-div {
  grid-column: 2;
  text-align: center;
}

@media only screen and (max-width: 56rem) {
  .one-col-div {
    width: 90vw;
  }
}
