.main-content {
  min-height: calc(100vh - 120px);
  min-height: calc((var(--vh, 1vh) * 100) - 120px);
}

.container-wrapper {
  display: grid;
  grid-template-columns: minmax(.5rem, 1fr) minmax(auto, 50vw) minmax(.5rem, 1fr);
  padding: 10rem 0;
  border-bottom: 1px solid black;
}

.container-div {
  grid-column: 2;
}

@media only screen and (max-width: 56rem) {
  .container-div {
    width: 90vw;
  }
}
