.content-wrapper {
  display: grid;
  grid-template-columns: minmax(.5rem, 1fr) minmax(auto, 50vw) minmax(.5rem, 1fr);
  padding: 5rem 0;
}

.content-div {
  grid-column: 2;
}

.content, .taglist {
  grid-column: 2;
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

@media only screen and (max-width: 56rem) {
  .content-div {
    width: 90vw;
  }
}
