.author-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
              "image content"
              "social social";
  margin: 0 0 1rem 0;
}

.author-content {
  grid-area: content;
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1.5rem;
  margin: 0 0 1rem 0;
  justify-content: center;
}

.author-image-container {
  grid-area: image;
  margin: 0 0 1rem 0;
}

.author-image {
  height: 100%;
}
