.member-section {
  margin: 0 0 2rem 0;
}

.member-container {
  display: grid;
  column-gap: 2rem;
  row-gap: 4rem;
  margin: 4rem 0 0 0;
}

.three-column {
  grid-template-columns: 1fr 1fr 1fr;
}

.two-column {
  grid-template-columns: 1fr 1fr;
}

.member-title {
  display: flex;
  justify-content: center;
}

.team-image-container {
  margin: 0 0 1rem 0;

}

.center-content {
  display: grid;
  justify-content: center;
  text-align: center;
}

.team-image-container * {
  height: 10rem;
}
