.nav-container {
  max-width: 50vw;
  padding: 1.45rem 10%;
  margin: 0 0 0 auto;
  align-items: center;
}

.nav-flex > ul {
  display: flex;
}

.nav-container > ul {
  list-style-type: none;
  margin: 0;
}

.nav-block {
  padding: 0 !important;
}

.nav-block > ul > li {
  padding: 0 2rem .5rem 0 !important;
}

.nav-container > ul > li {
  padding: 0 1rem;
  margin: 0;
}
