.main-header {
  background-color: transparent;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
}

.header-container {
  max-width: 50vw;
  padding: 1.45rem 10%;
  justify-content: center;
}

.header-container > * {
  margin: 0;
}

.site-logo {
  height: 2rem;
  margin: 0 !important;
}
