.footer-container {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-item {
  display: grid;
  justify-content: flex-start;
}

.copyRight {
  display: flex;
  justify-content: center;
}
