.footer-container {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-item {
  display: grid;
  justify-content: flex-start;
}

.footer-item > ul {
  list-style-type: none;
  margin: 0;
}

.footer-logo {
  margin: 0 0 0 .4rem;
}

.copyRight {
  display: flex;
  justify-content: center;
}
