.big-banner {
  /* Full height - height of menu */
  height: calc(100vh - 88px);
  height: calc((var(--vh, 1vh) * 100) - 88px);
}

.half-banner {
  /* Half height - height of menu */
  height: calc(50vh - 88px);
  height: calc((var(--vh, 1vh) * 50) - 88px);
}

.display-banner {
  /* Center and scale the image nicely */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  /* Flexbox */
  display: flex;
  align-items: center;
}

.cover-background {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0, 0.3)
}

.title-wrap > * {
  color: white;
  width: 80vw;
  padding: 0 .5rem;
}

@media only screen and (max-width: 84em) {
    .display-banner {
      background-attachment: scroll;
    }

}
